{% extends 'base.html' %}
{% load static %}

{% block title %}Home - Myapp{% endblock %}
{% block content %}


  {% if messages %}
  {% for message in messages %}
      <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
          {{ message }}
      </div>
  {% endfor %}
  {% endif %}

  <!-- Heading -->
  <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'img/principal.jpg' %}" alt="Principal">
        <div class="intro-text">
          <h2 class="section-heading mb-4">
            <span class="section-heading-upper">Punctuality</span>
            <span class="section-heading-lower">The best stock</span>
          </h2>
          <p class="mb-3">At your doorstep in less than 48 hours with normal shipping. In less than 24 hours with express shipping.</p>
        </div>
      </div>
    </div>
  </section>



  <!-- Message -->
  <section class="page-section cta">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="cta-inner text-center rounded">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">Total commitment</span>
              <span class="section-heading-lower">Guaranteed</span>
            </h2>
            <p class="mb-0">With more than 75 years of experience behind us, at Order Management we have the knowledge and tools necessary to deliver any object to the door of your home with punctuality and professionalism.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}