{% extends 'base.html' %}

{% load static %}
{% block title %}Services - Myapp{% endblock %}

{% block content%}

    {% for i in services_all%}

    <section class="page-section clearfix">
        <div class="container">
          <div class="intro">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{{ i.image.url }}" alt="">
            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
              <h2 class="section-heading mb-4" >
                <span class="section-heading-lower">{{i.title}}</span>
                <span class="section-heading-upper">{{i.content}}</span>
              </h2>            
            </div>
          </div>
        </div>
      </section>

    {% endfor %}

{% endblock%}