{% extends 'base.html' %}
{% load static %}

{% block title %}Services - Myapp{% endblock %}

{% block content %}
  {% for i in services_all %}
    <section class="page-section clearfix">
      <div class="container">
        <div class="intro">
          <img class="intro-img img-fluid rounded" src="{{ i.image.url }}" alt="{{ i.title }}">
          <div class="intro-text">
            <h2 class="section-heading mb-4">
              <span class="section-heading-lower">{{ i.title }}</span>
              <span class="section-heading-upper">{{ i.content }}</span>
            </h2>
          </div>
        </div>
      </div>
    </section>
  {% endfor %}
{% endblock %}